
md-toolbar h1 {
  margin: auto;
}

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.dashboard-body  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.dashboard-grid-list {
  margin-top: 40px;
}

.dashboard-grid-list .babyfoot {
  background: #388E3C;
}

.dashboard-grid-list .mario {
  background: #FFC107;
}

.dashboard-grid-list .robots {
  background: #607D8B;
}

.dashboard-grid-list .lego {
  background: #0097A7;
}

.dashboard-grid-list .cocktail {
  background: #b388ff;
}

.dashboard-grid-list .quizz {
  background: #0091EA;
}

.dashboard-grid-list .leaderboard {
  background: #ff8a80;
}

md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
}

[ng-click], [data-ng-click], [x-ng-click] {
  cursor: pointer;
}

md-list-item > p,
md-list-item > .md-list-item-inner > p,
md-list-item .md-list-item-inner > p,
md-list-item .md-list-item-inner > .md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.dashboard_icon {
  width: 80px;
  height: 80px;
}
