<md-toolbar layout="row" >
  <div class="md-toolbar-tools">
    <h1>
      <span>API</span>
    </h1>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Home">
      <md-icon md-svg-icon="assets/home.svg" ng-click="goTo('dashboard')"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<div layout-align="center start" layout="row" ng-cloak class="md-inline-form">
  <md-content layout-padding flex-gt-sm="50" flex="90">
    <div>
      <form name="keyForm">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Cl&eacute; de l'API</label>

            <input required type="password" name="key" ng-model="key"/>
            <div ng-messages="keyForm.key.$error" multiple md-auto-hide="false">
              <div ng-message="required">
                Une cl&eacute; est indispensable
              </div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-button class="md-raised md-primary" ng-click="save(key)" ng-disabled="keyForm.key.$error.required">OK</md-button>
        </div>
      </form>
    </div>
  </md-content>
</div>
